*{
    /* background-color:#e0e0e0; */
    margin: 0;
    padding: 0;
}
body{
     background-color: #e0e0e0; 
}
                                /*header*/

.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    color: #42aad0e8;
    background-color: #040c0fe8;
    font-size: 1.2em;
}
.navpadre{
    display: flex;
    justify-content: center;
    padding: 10px; 
    background-color: #040c0fe8;
}
.navpadre a{
    padding: 0 10px;
    color: #42aad0e8;
    text-decoration: none;
    font-size: 1.2em;
}
                                /*header*/

                                /* portada*/

.portadapadre{
    display: flex;
    justify-content: center
}
.img{
    width: 600px;
    height: 400px;
    margin: 70px -1px 50px 70px;
}
.img1{
    width: 600px;
    height: 400px;
    margin: 70px 50px 50px -3px;
}
                                /*portada*/

                                /* modelos*/

#modelopadre{
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-areas: 
    " dama . hombre ";
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.dama{
    grid-area:dama ;
}

.hombre{
    grid-area: hombre;
}

.dama, .hombre{
    display: flex;
    padding: 30px;
    height: 400px;
    margin-left: 40px;
}
.dama div{
    background-color: #fff;
    box-shadow: 0 1px 1px 1px grey;
    height: 380px;
    margin: 10px;
    border: solid 1px black
}
.dama div p{
        margin-top: 60px;
        padding: 7px;
}
.hombre div{
    background-color: #fff;
    box-shadow: 0 1px 1px 1px grey;
    height: 380px;
    margin: 10px;
    border: solid 1px black
}

.hombre div p{
    margin-top: 60px;
    padding: 7px;
}
.hidden{
    background-color: #fff;
    box-shadow: 0 1px 1px 1px grey;
    height: 380px;
    margin: 10px;
    border: solid 1px black
}

.dama, .hombre, img{
    width: 250px;
}
.hidden img{
    width: 250px;
}
                                /* modelos*/

                                /* texto*/

.texto{
    display: flex;
    justify-content: space-around;
    font-size: 1.6em;
    color: #020507e8;
    margin-bottom: 50px;
}       
.textomobil{
    display: none;
}                         
                                /* texto*/

                                /* footer*/

.footer{
    display: flex;
    justify-content: center;
    padding: 50px;
    color: #42aad0e8;
    /* border: solid 3px black; */
    background-color: #040c0fe8;
    font-size: 1.2em;
}
.footer a{
    /* margin-top: 50px; */
    padding: 0 10px;
    color: #42aad0e8;
    text-decoration: none;
    font-size: 1.2em;
}

                                /* footer*/

                                /*index*/
















                                /*html productos*/

                                /*productos-zapatillas*/

.zapatillas{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px 270px;
    grid-template-rows: 50px auto auto;
    grid-gap: 15px;
    grid-template-areas: 
    " . . pTitulo . . "
    ".  card1 card2 card3  ."
    " . card4 card5 card6 . ";
    margin-top: 30px;
    justify-content: center;
    justify-items: center;
    
}

.pTitulo{
    grid-area: pTitulo;
    align-items: center;
}
.card1{
    grid-area:card1 ;
}
.card2{
    grid-area:card2 ;
}
.card3{
    grid-area:card3 ;
}
.card4{
    grid-area:card4 ;
}
.card5{
    grid-area:card5 ;
}
.card6{
    grid-area:card6 ;
} 

.card1,.card2,.card3,.card4,.card5,.card6{
    background-color: #fff;
    box-shadow: 0 1px 1px 1px grey;
    width: 250px;
    height: 380px;
    margin: 10px;
    border: solid 1px black
}

div p{
    margin-top: 60px;
    padding: 7px;
}

                                /*productos-zapatillas*/

                                /*producto-dama*/

.pDama{                          
display: grid;
grid-template-columns: 270px 270px 270px 270px 270px;
grid-template-rows: 50px auto auto;
grid-gap: 15px;
grid-template-areas:
" . . damaTitulo . . "
" . card7 card8 card9 . "
" . card10 card11 card12 . "
" . card13 card14 card15 . "
" . card16 card17 . . ";
margin-top: 30px;
justify-content: center;
justify-items: center;
}

.damaTitulo{
    grid-area: damaTitulo;
}
.card7{
    grid-area: card7;
}
.card8{
    grid-area: card8;
}
.card9{
    grid-area: card9;
}
.card10{
    grid-area: card10;
}
.card11{
    grid-area: card11;
}
.card12{
    grid-area: card12;
}
.card13{
    grid-area: card13;
}
.card14{
    grid-area: card14;
}
.card15{
    grid-area: card15;
}
.card16{
    grid-area: card16;
}
.card17{
    grid-area: card17;
}

.card7,.card8,.card9,.card10,.card11,.card12,.card13,.card14,.card15,.card16,.card17{
    background-color: #fff;
    box-shadow: 0 1px 1px 1px grey;
    width: 250px;
    height: 380px;
    margin: 10px;
    border: solid 1px black
}

                                /*producto-dama*/

                                /*producto-caballero*/

.caballero{
    display: grid;
grid-template-columns: 270px 270px 270px 270px 270px;
grid-template-rows: 50px auto auto;
grid-gap: 15px;
grid-template-areas:
" . . caballeroTitulo . . "
" . card19 card20 card21 . "
" . card22 card23 card24 . "
" . card25 card26 card27 . "
" . card28 . . . ";
margin-top: 30px;
margin-bottom: 50px;
justify-content: center;
justify-items: center;
}

.caballeroTitulo{
    grid-area: caballeroTitulo;
}
.card19{
    grid-area: card19;
}
.card20{
    grid-area: card20;
}
.card21{
    grid-area: card21;
}
.card22{
    grid-area: card22;
}
.card23{
    grid-area: card23;
}
.card24{
    grid-area: card24;
}
.card25{
    grid-area: card25;
}
.card26{
    grid-area: card26;
}
.card27{
    grid-area: card27;
}
.card28{
    grid-area: card28;
}


.card19,.card20,.card21,.card22,.card23,.card24,.card25,.card26,.card27,.card28{
    background-color: #fff;
    box-shadow: 0 1px 1px 1px grey;
    width: 250px;
    height: 380px;
    margin: 10px;
    border: solid 1px black
}




                                /*producto-caballero*/

                                /*html productos*/
















                                /*novedades*/

.novedades1{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px 270px; 
    grid-template-rows: 50px auto 50px auto;
    grid-gap: 15px; 
    grid-template-areas:
    " . . titulo1 . . "
    " . card1 card2 card3 . "
    " . . titulo2 . . "
    " . card4 card5 card6 . ";
margin-top: 30px;
margin-bottom: 50px;
justify-content: center;
justify-items: center;
}  

.titulo1{
    grid-area: titulo1;
    
}
.titulo2{
    grid-area: titulo2;
} 
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.card6{
    grid-area: card6;
} 

                                /*novedades*/ 














                                /*iniciar*/

.form{
    height: 100vh;
}


.formulario{
    width: 400px;
    background-color: rgb(63, 62, 51);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 27px;
    border-radius: 6px;

}

.registro{
    font-size: 1.3em;
    margin-bottom: 20px;
    text-align: center;
}

.inpt{
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 18px;
    border: solid 3px #2488cbe8;
}
.inptbtn {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin: 18px 0;
    border: none;
    font-size: 1.3em;
    font-family: 'Times New Roman';
    

}

                                    
                            

                                /*modelo responsive*/
                                
@media only screen and (min-width: 1px) and (max-width: 425px){
    .titulo{
        width: 100%;
        padding: 40px 0px;
    }
    .navpadre{
        width: 100%;
        padding: 0px;
    }
    .portadapadre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img{
        width: 100%;
        margin: 70px 0px -2px 0px;
    }
    .img1{
        display: none;
    }
    #modelopadre{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "dama"
        "hombre";
    }
    .dama{
        grid-area: dama;
    }
    .hombre{
        grid-area: hombre;
    }
    .texto{
        display: none;
        
    }
    .hidden{
        display: none;
    }
}

@media only screen and (min-width: 1px) and (max-width: 425px){

    .zapatillas{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30px repeat(6,1fr);
        grid-template-areas: 
        "pTitulo"
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6";
        margin-top: 30px;
        justify-content: center;
        justify-items: center;  
    }
    .pTitulo{
        grid-area: pTitulo;
        align-items: center;
    }
    .card1{
        grid-area: card1;
    }
    .card2{
        grid-area: card2;
    }
    .card3{
        grid-area: card3;
    }
    .card4{
        grid-area: card4;
    }
    .card5{
        grid-area: card5;
    }
    .card6{
        grid-area: card6;
    } 
}  
@media only screen and (min-width: 1px) and (max-width: 425px){
    .pDama{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:30px repeat(11,1fr);
        grid-template-areas:
        "damaTitulo"
        " card7 "
        " card8 "
        " card9 "
        " card10 "
        " card11 "
        " card12 "
        " card13 "
        " card14 "
        " card15 "
        " card16 "
        " card17 ";
    }
    .damaTitulo{
        grid-area:damaTitulo ;
    }
    .card7{
        grid-area: card7;
    } 
    .card8{
        grid-area: card8;
    }
    .card9{
        grid-area: card9;
    }
    .card10{
        grid-area: card10;
    }
    .card11{
        grid-area: card11;
    }
    .card12{
        grid-area: card12;
    }
    .card13{
        grid-area: card13;
    }
    .card14{
        grid-area: card14;
    }
    .card15{
        grid-area: card15;
    }
    .card16{
        grid-area: card16;
    }
    .card17{
        grid-area: card17;
    }
}
@media only screen and (min-width: 1px) and (max-width: 425px){
    .caballero{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30px repeat(10,1fr);
        grid-template-areas:
        "caballeroTitulo"
        " card19 "
        " card20 "
        " card21 "
        " card22 "
        " card23 "
        " card24 "
        " card25 "
        " card26 "
        " card27 "
        " card28 ";
    }
    .caballeroTitulo{
        grid-area: caballeroTitulo;
    }
    .card19{
        grid-area: card19;
    } 
    .card20{
        grid-area: card20;
    }
    .card21{
        grid-area: card21;
    }
    .card22{
        grid-area: card22;
    }
    .card23{
        grid-area: card23;
    }
    .card24{
        grid-area: card24;
    }
    .card25{
        grid-area: card25;
    }
    .card26{
        grid-area: card26;
    }
    .card27{
        grid-area: card27;
    }
    .card28{
        grid-area: card28;
    }
}

                                /* modelo responsive para novedades */

@media only screen and (min-width: 1px) and (max-width: 425px){

    .novedades1{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        " titulo1 "
        " card1 "
        " card2 "
        " card3 "
        "titulo2"
        " card4 "
        " card5 "
        " card6 ";
    }
    .titulo1{ 
        grid-area: titulo1;
    }
    .titulo2{
        grid-area: titulo2;
    }
    .card1{
        grid-area: card1;
    }
    .card2{
        grid-area: card2;
    }
    .card3{
        grid-area: card3;
    }
    .card4{
        grid-area: card4;
    }
    .card5{
        grid-area: card5;
    }
    .card6{
        grid-area: card6;
    }
}

